<!DOCTYPE html>
<html>
<head>
<title>AGGIUNGI ORARIO</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body th:background="@{/images/mattonella2.png}">

	<!-- create navigation bar ( header) -->
	<div class="w3-top">
  		<div class="w3-bar w3-black w3-card">
    		<a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="@{/}" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
		    <sec:authorize="isAuthenticated()"><a th:href="@{/home_gestore}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
		    <sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="w3-bar-item w3-button w3-padding-large">LOGOUT</a>
  		</div>
	</div>
	

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">Hai aggiunto correttamente un orario disponibile!</div>
				</div>
				
				
				<!-- error message -->
				<div th:if="${param.error0}">
					<div class="alert alert-danger">L'id inserito non appartiene ad alcun deposito.</div>
				</div>
				
				<!-- error message -->
				<div th:if="${param.error1}">
					<div class="alert alert-danger">L'orario inserito e' gia' stato inserito.</div>
				</div>
				
				<!-- error message -->
				<div th:if="${param.error2}">
					<div class="alert alert-danger">Fascia oraria non disponibile.</div>
				</div>
				
				<!-- error message -->
				<div th:if="${param.error3}">
					<div class="alert alert-danger"> Non hai i permessi di accesso al magazzino.</div>
				</div>
				

				<h1>Inserisci i dati</h1>

				<form th:action="@{/home_gestore/add_orario}" method="post" th:object="${DepositoOrario}">
                    <div class="form-group col-md-8">
						<label  class="col-form-label">Deposito </label>
						<select  id="id" name="id" th:field="*{id}" >
						<option th:each="dep : ${listDeposito}" th:value="${dep.id}" th:utext="${dep.indirizzo}"/></select>
					</div>

					<div class="form-group col-md-8">
						<label  class="col-form-label">Tipo </label>
						<select id="orario" name="orario" th:field="*{orario}" >
						<option th:each="orario : ${listOrario}" th:value="${orario.fasciaOraria}" th:utext="${orario.fasciaOraria}"/></select>
						</select>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Aggiungi</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>